# Initialise Bedrock LLM

In [11]:
# from simd.llm import llm

from langchain_aws import ChatBedrock
import dotenv
import os

dotenv.load_dotenv()
# Set LANGSMITH_PROJECT environment variable
os.environ['LANGSMITH_PROJECT'] = "agent_sql_database"


# Claude is a good alternative to GPT-4o: https://blog.promptlayer.com/big-differences-claude-3-5-vs-gpt-4o/
llm = ChatBedrock(
    model_id="us.anthropic.claude-3-7-sonnet-20250219-v1:0",
    # model_id="us.meta.llama3-3-70b-instruct-v1:0",
    # model_id="us.meta.llama3-2-3b-instruct-v1:0",
    # model_id="us.deepseek.r1-v1:0",
    model_kwargs=dict(temperature=0.2),
    # other params...
)

# Create Database Engine

In [27]:
import sqlite3
import requests
from sqlalchemy.pool import StaticPool
from sqlalchemy import create_engine
from langchain_community.utilities.sql_database import SQLDatabase


def get_engine_for_chinook_db():
    """Pull sql file, populate in-memory database, and create engine."""
    url = "https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql"
    response = requests.get(url)
    sql_script = response.text

    connection = sqlite3.connect(":memory:", check_same_thread=False)
    connection.executescript(sql_script)
    return create_engine(
        "sqlite://",
        creator=lambda: connection,
        poolclass=StaticPool,
        connect_args={"check_same_thread": False},
    )

def get_engine_for_oracle():
    """Create engine for an Oracle database."""
    return create_engine(
        "oracle+oracledb://user:password@localhost:3306/service_name")


def get_engine_for_mysql():
    """Create engine for a MySQL database."""
    return create_engine("mysql+pymysql://root@localhost/employees")


# engine = get_engine_for_chinook_db()
engine = get_engine_for_mysql()
# engine = get_engine_for_oracle()

db = SQLDatabase(engine)

In [28]:
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

# Test Spark SQL Toolkit

In [29]:
toolkit.get_tools()

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x119ecb130>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x119ecb130>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x119ecb130>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x119ecb130>, llm=ChatBedrock(client=<botocore.client.BedrockRuntime object at 0x109134980>, model_id='us.anthropic.claude-3-7-sonnet-20250219-v1:0', model_kwargs={}, temperature=0.2), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatBedrock(client=<botocore.client.BedrockRuntime object at 0x109134980>, model_id='us.anthropic.claude-3-7-sonnet-20250219-v1:0', model_kwargs={}, temperature=0.2), output_parser=StrOutputParser(), llm_kwargs={}))]

# Create SQL Database ReAct Agent

In [30]:
from langchain import hub

prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")

assert len(prompt_template.messages) == 1
print(prompt_template.input_variables)

['dialect', 'top_k']

In [31]:
from langgraph.prebuilt import create_react_agent
system_message = prompt_template.format(dialect="SQLite", top_k=5)

agent_executor = create_react_agent(llm, toolkit.get_tools(), prompt=system_message)

In [32]:
def ask_agent(query):
    events = agent_executor.stream(
        {"messages": [("user", query)]},
        stream_mode="values",
    )
    for event in events:
        event["messages"][-1].pretty_print()

In [33]:
ask_agent("Which Table has the most records?")

================================ Human Message =================================

Which Table has the most records?
================================== Ai Message ==================================

I'll help you find out which table has the most records in the database. Let me first check what tables are available in the database.
Tool Calls:
  sql_db_list_tables (toolu_bdrk_013AYETJjR3539W9JCBoJo1o)
 Call ID: toolu_bdrk_013AYETJjR3539W9JCBoJo1o
  Args:
    tool_input:
================================= Tool Message =================================
Name: sql_db_list_tables

departments, dept_emp, dept_manager, employees, salaries, titles
================================== Ai Message ==================================

Now that I have the list of tables, I'll write a query to count the number of records in each table and find which one has the most.
Tool Calls:
  sql_db_query_checker (toolu_bdrk_014s2PqEDSqKgAEYGv8n3Wkv)
 Call ID: toolu_bdrk_014s2PqEDSqKgAEYGv8n3Wkv
  Args:
    query: SELECT 'departments' AS table_name, COUNT(*) AS record_count FROM departments
UNION ALL
SELECT 'dept_emp' AS table_name, COUNT(*) AS record_count FROM dept_emp
UNION ALL
SELECT 'dept_manager' AS table_name, COUNT(*) AS record_count FROM dept_manager
UNION ALL
SELECT 'employees' AS table_name, COUNT(*) AS record_count FROM employees
UNION ALL
SELECT 'salaries' AS table_name, COUNT(*) AS record_count FROM salaries
UNION ALL
SELECT 'titles' AS table_name, COUNT(*) AS record_count FROM titles
ORDER BY record_count DESC
LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT 'departments' AS table_name, COUNT(*) AS record_count FROM departments
UNION ALL
SELECT 'dept_emp' AS table_name, COUNT(*) AS record_count FROM dept_emp
UNION ALL
SELECT 'dept_manager' AS table_name, COUNT(*) AS record_count FROM dept_manager
UNION ALL
SELECT 'employees' AS table_name, COUNT(*) AS record_count FROM employees
UNION ALL
SELECT 'salaries' AS table_name, COUNT(*) AS record_count FROM salaries
UNION ALL
SELECT 'titles' AS table_name, COUNT(*) AS record_count FROM titles
ORDER BY record_count DESC
LIMIT 1;
```
================================== Ai Message ==================================

Now I'll execute this query to find which table has the most records:
Tool Calls:
  sql_db_query (toolu_bdrk_01MJWtKNfyLPQLJUaxT2zMi7)
 Call ID: toolu_bdrk_01MJWtKNfyLPQLJUaxT2zMi7
  Args:
    query: SELECT 'departments' AS table_name, COUNT(*) AS record_count FROM departments
UNION ALL
SELECT 'dept_emp' AS table_name, COUNT(*) AS record_count FROM dept_emp
UNION ALL
SELECT 'dept_manager' AS table_name, COUNT(*) AS record_count FROM dept_manager
UNION ALL
SELECT 'employees' AS table_name, COUNT(*) AS record_count FROM employees
UNION ALL
SELECT 'salaries' AS table_name, COUNT(*) AS record_count FROM salaries
UNION ALL
SELECT 'titles' AS table_name, COUNT(*) AS record_count FROM titles
ORDER BY record_count DESC
LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query

[('salaries', 2844047)]
================================== Ai Message ==================================

Based on the query results, the table with the most records is the **salaries** table, which contains **2,844,047 records**.