# Initialise Bedrock LLM

In [1]:
from wc_simd.llm import get_llm
import os

# Set LANGSMITH_PROJECT environment variable
os.environ['LANGSMITH_PROJECT'] = "agent_sql_database"


# Claude is a good alternative to GPT-4o: https://blog.promptlayer.com/big-differences-claude-3-5-vs-gpt-4o/
llm = get_llm()

# Create Database Engine

In [27]:
import sqlite3
import requests
from sqlalchemy.pool import StaticPool
from sqlalchemy import create_engine
from langchain_community.utilities.sql_database import SQLDatabase


def get_engine_for_chinook_db():
    """Pull sql file, populate in-memory database, and create engine."""
    url = "https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql"
    response = requests.get(url)
    sql_script = response.text

    connection = sqlite3.connect(":memory:", check_same_thread=False)
    connection.executescript(sql_script)
    return create_engine(
        "sqlite://",
        creator=lambda: connection,
        poolclass=StaticPool,
        connect_args={"check_same_thread": False},
    )

def get_engine_for_oracle():
    """Create engine for an Oracle database."""
    return create_engine(
        "oracle+oracledb://user:password@localhost:3306/service_name")


def get_engine_for_mysql():
    """Create engine for a MySQL database."""
    return create_engine("mysql+pymysql://root@localhost/employees")


# engine = get_engine_for_chinook_db()
engine = get_engine_for_mysql()
# engine = get_engine_for_oracle()

db = SQLDatabase(engine)

In [28]:
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

# Test Spark SQL Toolkit

In [29]:
toolkit.get_tools()

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x119ecb130>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x119ecb130>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x119ecb130>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x119ecb130>, llm=ChatBedrock(client=<botocore.client.BedrockRuntime object at 0x109134980>, model_id='us.anthropic.claude-3-7-sonnet-20250219-v1:0', model_kwargs={}, temperature=0.2), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatBedrock(client=<botocore.client.BedrockRuntime object at 0x109134980>, model_id='us.anthropic.claude-3-7-sonnet-20250219-v1:0', model_kwargs={}, temperature=0.2), output_parser=StrOutputParser(), llm_kwargs={}))]

# Create SQL Database ReAct Agent

In [30]:
from langchain import hub

prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")

assert len(prompt_template.messages) == 1
print(prompt_template.input_variables)

['dialect', 'top_k']

In [31]:
from langgraph.prebuilt import create_react_agent
system_message = prompt_template.format(dialect="SQLite", top_k=5)

agent_executor = create_react_agent(llm, toolkit.get_tools(), prompt=system_message)

In [32]:
def ask_agent(query):
    events = agent_executor.stream(
        {"messages": [("user", query)]},
        stream_mode="values",
    )
    for event in events:
        event["messages"][-1].pretty_print()

In [33]:
ask_agent("Which Table has the most records?")

================================ Human Message =================================

Which Table has the most records?
================================== Ai Message ==================================

I'll help you find out which table has the most records in the database. Let me first check what tables are available in the database.
Tool Calls:
  sql_db_list_tables (toolu_bdrk_013AYETJjR3539W9JCBoJo1o)
 Call ID: toolu_bdrk_013AYETJjR3539W9JCBoJo1o
  Args:
    tool_input:
================================= Tool Message =================================
Name: sql_db_list_tables

departments, dept_emp, dept_manager, employees, salaries, titles
================================== Ai Message ==================================

Now that I have the list of tables, I'll write a query to count the number of records in each table and find which one has the most.
Tool Calls:
  sql_db_query_checker (toolu_bdrk_014s2PqEDSqKgAEYGv8n3Wkv)
 Call ID: toolu_bdrk_014s2PqEDSqKgAEYGv8n3Wkv
  Args:
    query: SELECT 'departments' AS table_name, COUNT(*) AS record_count FROM departments
UNION ALL
SELECT 'dept_emp' AS table_name, COUNT(*) AS record_count FROM dept_emp
UNION ALL
SELECT 'dept_manager' AS table_name, COUNT(*) AS record_count FROM dept_manager
UNION ALL
SELECT 'employees' AS table_name, COUNT(*) AS record_count FROM employees
UNION ALL
SELECT 'salaries' AS table_name, COUNT(*) AS record_count FROM salaries
UNION ALL
SELECT 'titles' AS table_name, COUNT(*) AS record_count FROM titles
ORDER BY record_count DESC
LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT 'departments' AS table_name, COUNT(*) AS record_count FROM departments
UNION ALL
SELECT 'dept_emp' AS table_name, COUNT(*) AS record_count FROM dept_emp
UNION ALL
SELECT 'dept_manager' AS table_name, COUNT(*) AS record_count FROM dept_manager
UNION ALL
SELECT 'employees' AS table_name, COUNT(*) AS record_count FROM employees
UNION ALL
SELECT 'salaries' AS table_name, COUNT(*) AS record_count FROM salaries
UNION ALL
SELECT 'titles' AS table_name, COUNT(*) AS record_count FROM titles
ORDER BY record_count DESC
LIMIT 1;
```
================================== Ai Message ==================================

Now I'll execute this query to find which table has the most records:
Tool Calls:
  sql_db_query (toolu_bdrk_01MJWtKNfyLPQLJUaxT2zMi7)
 Call ID: toolu_bdrk_01MJWtKNfyLPQLJUaxT2zMi7
  Args:
    query: SELECT 'departments' AS table_name, COUNT(*) AS record_count FROM departments
UNION ALL
SELECT 'dept_emp' AS table_name, COUNT(*) AS record_count FROM dept_emp
UNION ALL
SELECT 'dept_manager' AS table_name, COUNT(*) AS record_count FROM dept_manager
UNION ALL
SELECT 'employees' AS table_name, COUNT(*) AS record_count FROM employees
UNION ALL
SELECT 'salaries' AS table_name, COUNT(*) AS record_count FROM salaries
UNION ALL
SELECT 'titles' AS table_name, COUNT(*) AS record_count FROM titles
ORDER BY record_count DESC
LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query

[('salaries', 2844047)]
================================== Ai Message ==================================

Based on the query results, the table with the most records is the **salaries** table, which contains **2,844,047 records**.

In [34]:
ask_agent("List out any enumerations of values, like types in any of the tables.")

================================ Human Message =================================

List out any enumerations of values, like types in any of the tables.
================================== Ai Message ==================================

I'll help you find any enumerations of values or types in the database tables. Let's start by listing all the tables in the database, and then examine their schemas to identify any columns that might contain enumerated values.
Tool Calls:
  sql_db_list_tables (toolu_bdrk_01KgbQkmNrpWdvBUoxSTvsr4)
 Call ID: toolu_bdrk_01KgbQkmNrpWdvBUoxSTvsr4
  Args:
    tool_input:
================================= Tool Message =================================
Name: sql_db_list_tables

departments, dept_emp, dept_manager, employees, salaries, titles
================================== Ai Message ==================================

Now that I have the list of tables, I'll examine the schema of each table to identify any columns that might contain enumerated values or types.
Tool Calls:
  sql_db_schema (toolu_bdrk_01FEp1Je9qY25iuyDMoX2iM1)
 Call ID: toolu_bdrk_01FEp1Je9qY25iuyDMoX2iM1
  Args:
    table_names: departments, dept_emp, dept_manager, employees, salaries, titles
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE departments (
	dept_no CHAR(4) NOT NULL,
	dept_name VARCHAR(40) NOT NULL,
	PRIMARY KEY (dept_no)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from departments table:
dept_no	dept_name
d009	Customer Service
d005	Development
d002	Finance
*/


CREATE TABLE dept_emp (
	emp_no INTEGER NOT NULL,
	dept_no CHAR(4) NOT NULL,
	from_date DATE NOT NULL,
	to_date DATE NOT NULL,
	PRIMARY KEY (emp_no, dept_no),
	CONSTRAINT dept_emp_ibfk_1 FOREIGN KEY(emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE,
	CONSTRAINT dept_emp_ibfk_2 FOREIGN KEY(dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from dept_emp table:
emp_no	dept_no	from_date	to_date
10001	d005	1986-06-26	9999-01-01
10002	d007	1996-08-03	9999-01-01
10003	d004	1995-12-03	9999-01-01
*/


CREATE TABLE dept_manager (
	emp_no INTEGER NOT NULL,
	dept_no CHAR(4) NOT NULL,
	from_date DATE NOT NULL,
	to_date DATE NOT NULL,
	PRIMARY KEY (emp_no, dept_no),
	CONSTRAINT dept_manager_ibfk_1 FOREIGN KEY(emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE,
	CONSTRAINT dept_manager_ibfk_2 FOREIGN KEY(dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from dept_manager table:
emp_no	dept_no	from_date	to_date
110022	d001	1985-01-01	1991-10-01
110039	d001	1991-10-01	9999-01-01
110085	d002	1985-01-01	1989-12-17
*/


CREATE TABLE employees (
	emp_no INTEGER NOT NULL,
	birth_date DATE NOT NULL,
	first_name VARCHAR(14) NOT NULL,
	last_name VARCHAR(16) NOT NULL,
	gender ENUM('M','F') NOT NULL,
	hire_date DATE NOT NULL,
	PRIMARY KEY (emp_no)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from employees table:
emp_no	birth_date	first_name	last_name	gender	hire_date
10001	1953-09-02	Georgi	Facello	M	1986-06-26
10002	1964-06-02	Bezalel	Simmel	F	1985-11-21
10003	1959-12-03	Parto	Bamford	M	1986-08-28
*/


CREATE TABLE salaries (
	emp_no INTEGER NOT NULL,
	salary INTEGER NOT NULL,
	from_date DATE NOT NULL,
	to_date DATE NOT NULL,
	PRIMARY KEY (emp_no, from_date),
	CONSTRAINT salaries_ibfk_1 FOREIGN KEY(emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from salaries table:
emp_no	salary	from_date	to_date
10001	60117	1986-06-26	1987-06-26
10001	62102	1987-06-26	1988-06-25
10001	66074	1988-06-25	1989-06-25
*/


CREATE TABLE titles (
	emp_no INTEGER NOT NULL,
	title VARCHAR(50) NOT NULL,
	from_date DATE NOT NULL,
	to_date DATE,
	PRIMARY KEY (emp_no, title, from_date),
	CONSTRAINT titles_ibfk_1 FOREIGN KEY(emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from titles table:
emp_no	title	from_date	to_date
10001	Senior Engineer	1986-06-26	9999-01-01
10002	Staff	1996-08-03	9999-01-01
10003	Senior Engineer	1995-12-03	9999-01-01
*/
================================== Ai Message ==================================

Based on my examination of the database schema, I've identified the following enumerations of values in the tables:

1. **Explicit Enumeration**:
   - In the `employees` table, the `gender` column is defined as an ENUM with values 'M' and 'F'

2. **Implicit Enumerations** (columns that contain a limited set of values):
   - In the `departments` table, the `dept_no` column contains department codes (e.g., d001, d002, etc.)
   - In the `departments` table, the `dept_name` column contains department names

3. **Job Titles**:
   - In the `titles` table, the `title` column contains job titles

Let me query these implicit enumerations to show you their distinct values:
Tool Calls:
  sql_db_query_checker (toolu_bdrk_011k39gSYdy8V4beJUS3pZob)
 Call ID: toolu_bdrk_011k39gSYdy8V4beJUS3pZob
  Args:
    query: SELECT DISTINCT dept_no, dept_name FROM departments ORDER BY dept_no;
================================= Tool Message =================================
Name: sql_db_query_checker

SELECT DISTINCT dept_no, dept_name FROM departments ORDER BY dept_no;
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (toolu_bdrk_01YYAQ4B4pMpVE8MSLM9TnUi)
 Call ID: toolu_bdrk_01YYAQ4B4pMpVE8MSLM9TnUi
  Args:
    query: SELECT DISTINCT dept_no, dept_name FROM departments ORDER BY dept_no;
================================= Tool Message =================================
Name: sql_db_query

[('d001', 'Marketing'), ('d002', 'Finance'), ('d003', 'Human Resources'), ('d004', 'Production'), ('d005', 'Development'), ('d006', 'Quality Management'), ('d007', 'Sales'), ('d008', 'Research'), ('d009', 'Customer Service')]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (toolu_bdrk_01NYZUFu9jc8Y4QGsriMmvCh)
 Call ID: toolu_bdrk_01NYZUFu9jc8Y4QGsriMmvCh
  Args:
    query: SELECT DISTINCT title FROM titles ORDER BY title;
================================= Tool Message =================================
Name: sql_db_query_checker

SELECT DISTINCT title FROM titles ORDER BY title;
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (toolu_bdrk_01VDqVTXQcVtG2jZwMZQJd7J)
 Call ID: toolu_bdrk_01VDqVTXQcVtG2jZwMZQJd7J
  Args:
    query: SELECT DISTINCT title FROM titles ORDER BY title;
================================= Tool Message =================================
Name: sql_db_query

[('Assistant Engineer',), ('Engineer',), ('Manager',), ('Senior Engineer',), ('Senior Staff',), ('Staff',), ('Technique Leader',)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (toolu_bdrk_01QRUdTPevXk4S9FuGH3f96U)
 Call ID: toolu_bdrk_01QRUdTPevXk4S9FuGH3f96U
  Args:
    query: SELECT DISTINCT gender FROM employees;
================================= Tool Message =================================
Name: sql_db_query_checker

SELECT DISTINCT gender FROM employees;
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (toolu_bdrk_01SYHs1KH42LjSQ8f79Qymcb)
 Call ID: toolu_bdrk_01SYHs1KH42LjSQ8f79Qymcb
  Args:
    query: SELECT DISTINCT gender FROM employees;
================================= Tool Message =================================
Name: sql_db_query

[('M',), ('F',)]
================================== Ai Message ==================================

## Enumerations of Values in the Database

Based on my analysis of the database schema and queries, here are all the enumerations of values found in the tables:

1. **Gender (Explicit ENUM in employees table)**:
   - M (Male)
   - F (Female)

2. **Department Numbers (departments table)**:
   - d001, d002, d003, d004, d005, d006, d007, d008, d009

3. **Department Names (departments table)**:
   - Marketing
   - Finance
   - Human Resources
   - Production
   - Development
   - Quality Management
   - Sales
   - Research
   - Customer Service

4. **Job Titles (titles table)**:
   - Assistant Engineer
   - Engineer
   - Manager
   - Senior Engineer
   - Senior Staff
   - Staff
   - Technique Leader

These are all the enumerated values or types found in the database tables. The `gender` column in the `employees` table is the only explicitly defined ENUM type, while the others are columns that contain a limited set of distinct values that effectively function as enumerations.